APP_ENV=local
APP_SECRET_KEY=6f9bb62edeff498f931889f50dbff1a3
FRONTEND_URL=http://localhost:4200
API_BASE_URL=http://127.0.0.1:8000

DATABASE_URL=postgresql+psycopg://ouvinte:ouvinte_local_password@localhost:5432/ouvinte_curioso

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/auth/spotify/callback
SPOTIFY_SCOPES=user-read-currently-playing user-read-playback-state
