APP_ENV=local
APP_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
FRONTEND_URL=http://localhost:4200
API_BASE_URL=http://127.0.0.1:8000

DATABASE_URL=postgresql+psycopg://ouvinte:ouvinte_local_password@localhost:5432/ouvinte_curioso

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/auth/spotify/callback
SPOTIFY_SCOPES=user-read-currently-playing user-read-playback-state

SESSION_COOKIE_NAME=oc_session
OAUTH_STATE_COOKIE_NAME=spotify_oauth_state
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
SESSION_COOKIE_MAX_AGE_SECONDS=604800
OAUTH_STATE_COOKIE_MAX_AGE_SECONDS=600
